@media screen {
  body{
    background-color: rgb(173, 203, 234);
  }
}
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
  }

.madimi-one-regular2 {
    font-family: "Madimi One", sans-serif;
    font-weight: 350;
    font-style: normal;
    color: white;
  }

.madimi-one-regulartxt {
    font-family: "Madimi One", sans-serif;
    font-weight: 250;
    font-style: left;
    color: white;
  }
#contenedor{
    background-color:rgb(133, 184, 236);
    border: 20px solid rgb(133, 184, 236);
    text-align: left;
    margin: auto;
    width: 350px;
    border-radius: 50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px ;
    box-shadow: rgb(91, 166, 241) -5px 5px ;
    -moz-box-shadow: rgb(91, 166, 241) -5px 5px;
    -webkit-box-shadow: rgb(91, 166, 241) -5px 5px;

  }

  .caja{
    width: 350px;
    height: 30px;
    margin: 0.1px;
    padding: 0cqb;
    background-color: rgb(255, 255, 255);
    float: center;
    

  }
  .cajae{
    width: 350px;
    height: 30px;
    background-color: rgb(241, 91, 91);
    float: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(247, 247, 247);


  }

  
